@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-5xl {
  font-size: 3rem;
  line-height: 1;
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1;
}

.text-7xl {
  font-size: 4.5rem;
  line-height: 1;
}

.text-8xl {
  font-size: 6rem;
  line-height: 1;
}

.text-9xl {
  font-size: 8rem;
  line-height: 1;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.link {
  -webkit-tap-highlight-color: transparent;
  color: var(--primary);
}

.link:hover {
  text-decoration: underline;
}

.row,
.grid {
  display: -ms-grid;
  display: grid;
  row-gap: 24px;
  -webkit-column-gap: 24px;
          column-gap: 24px;
  -ms-grid-columns: (12fr)[12];
      grid-template-columns: repeat(12, 12fr);
}

@media screen and (min-width: 0) {
  .col-xs-12 {
    grid-column: span 12;
  }
  .col-xs-11 {
    grid-column: span 11;
  }
  .col-xs-10 {
    grid-column: span 10;
  }
  .col-xs-9 {
    grid-column: span 9;
  }
  .col-xs-8 {
    grid-column: span 8;
  }
  .col-xs-7 {
    grid-column: span 7;
  }
  .col-xs-6 {
    grid-column: span 6;
  }
  .col-xs-5 {
    grid-column: span 5;
  }
  .col-xs-4 {
    grid-column: span 4;
  }
  .col-xs-3 {
    grid-column: span 3;
  }
  .col-xs-2 {
    grid-column: span 2;
  }
}

@media screen and (min-width: 576px) {
  .col-sm-12 {
    grid-column: span 12;
  }
  .col-sm-11 {
    grid-column: span 11;
  }
  .col-sm-10 {
    grid-column: span 10;
  }
  .col-sm-9 {
    grid-column: span 9;
  }
  .col-sm-8 {
    grid-column: span 8;
  }
  .col-sm-7 {
    grid-column: span 7;
  }
  .col-sm-6 {
    grid-column: span 6;
  }
  .col-sm-5 {
    grid-column: span 5;
  }
  .col-sm-4 {
    grid-column: span 4;
  }
  .col-sm-3 {
    grid-column: span 3;
  }
  .col-sm-2 {
    grid-column: span 2;
  }
  .d-sm-none {
    display: none;
  }
  .d-sm-block {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .col-md-12 {
    grid-column: span 12;
  }
  .col-md-11 {
    grid-column: span 11;
  }
  .col-md-10 {
    grid-column: span 10;
  }
  .col-md-9 {
    grid-column: span 9;
  }
  .col-md-8 {
    grid-column: span 8;
  }
  .col-md-7 {
    grid-column: span 7;
  }
  .col-md-6 {
    grid-column: span 6;
  }
  .col-md-5 {
    grid-column: span 5;
  }
  .col-md-4 {
    grid-column: span 4;
  }
  .col-md-3 {
    grid-column: span 3;
  }
  .col-md-2 {
    grid-column: span 2;
  }
  .d-md-none {
    display: none;
  }
  .d-md-block {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-12 {
    grid-column: span 12;
  }
  .col-lg-11 {
    grid-column: span 11;
  }
  .col-lg-10 {
    grid-column: span 10;
  }
  .col-lg-9 {
    grid-column: span 9;
  }
  .col-lg-8 {
    grid-column: span 8;
  }
  .col-lg-7 {
    grid-column: span 7;
  }
  .col-lg-6 {
    grid-column: span 6;
  }
  .col-lg-5 {
    grid-column: span 5;
  }
  .col-lg-4 {
    grid-column: span 4;
  }
  .col-lg-3 {
    grid-column: span 3;
  }
  .col-lg-2 {
    grid-column: span 2;
  }
  .d-lg-none {
    display: none;
  }
  .d-lg-block {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-12 {
    grid-column: span 12;
  }
  .col-xl-11 {
    grid-column: span 11;
  }
  .col-xl-10 {
    grid-column: span 10;
  }
  .col-xl-9 {
    grid-column: span 9;
  }
  .col-xl-8 {
    grid-column: span 8;
  }
  .col-xl-7 {
    grid-column: span 7;
  }
  .col-xl-6 {
    grid-column: span 6;
  }
  .col-xl-5 {
    grid-column: span 5;
  }
  .col-xl-4 {
    grid-column: span 4;
  }
  .col-xl-3 {
    grid-column: span 3;
  }
  .col-xl-2 {
    grid-column: span 2;
  }
  .d-xl-none {
    display: none;
  }
  .d-xl-block {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .d-xs-none {
    display: none;
  }
  .d-xs-block {
    display: block;
  }
}

.col-12 {
  grid-column: span 12;
}

.col-11 {
  grid-column: span 11;
}

.col-10 {
  grid-column: span 10;
}

.col-9 {
  grid-column: span 9;
}

.col-8 {
  grid-column: span 8;
}

.col-7 {
  grid-column: span 7;
}

.col-6 {
  grid-column: span 6;
}

.col-5 {
  grid-column: span 5;
}

.col-4 {
  grid-column: span 4;
}

.col-3 {
  grid-column: span 3;
}

.col-2 {
  grid-column: span 2;
}

[class*=".col"].align-left {
  -ms-grid-column-align: start;
      justify-self: start;
}

.grid.align-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

[class*=".col"].align-right {
  -ms-grid-column-align: end;
      justify-self: end;
}

.grid.align-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

[class*=".col"].align-h-center {
  -ms-grid-column-align: center;
      justify-self: center;
}

.grid.align-h-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

[class*=".col"].align-h-stretch {
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

.grid.align-h-stretch {
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

[class*=".col"].align-top {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.grid.align-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

[class*=".col"].align-bottom {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.grid.align-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

[class*=".col"].align-v-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.grid.align-v-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

[class*=".col"].align-v-stretch {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.grid.align-v-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

[class*=".col"].center {
  place-self: center;
}

.grid.center,
.row.center {
  place-items: center;
}

.row-gap-0 {
  row-gap: 0px;
}

.row-gap-5 {
  row-gap: 5px;
}

.row-gap-10 {
  row-gap: 10px;
}

.row-gap-15 {
  row-gap: 15px;
}

.row-gap-20 {
  row-gap: 20px;
}

.column-gap-0 {
  -webkit-column-gap: 0px;
          column-gap: 0px;
}

.column-gap-5 {
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

.column-gap-10 {
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.column-gap-15 {
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.column-gap-20 {
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.no-gap {
  -webkit-column-gap: 0px;
          column-gap: 0px;
  row-gap: 0px;
  gap: 0px;
}

.main-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container-header {
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.main-container-header .hero-logo {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translateY(-50%) translateX(50%);
          transform: translateY(-50%) translateX(50%);
}

.main-container-header button {
  border: none;
  background: none;
  padding: 5px;
  cursor: pointer;
}

.main-container-header button svg {
  width: 30px;
  stroke-width: 1;
}

.main-container-header a {
  text-decoration: none;
  color: inherit;
}

.main-container-content {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.main-container-content-scroll {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  inset: 0;
  height: 100%;
  max-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
}

.main-container-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-width: 400px;
  background: white;
  padding: 20px;
  overflow: auto;
  border-left: 1px solid #e5e5e5;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  visibility: hidden;
}

.main-container-sidebar.active, .main-container-sidebar:focus-within {
  visibility: visible;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.no-scroll {
  overflow: hidden;
}

.op-7 {
  opacity: .7;
}

.articles-grid-container {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  cursor: pointer;
}

.article-card img {
  aspect-ratio: 1 / 1;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.filter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #e5e5e5;
}

.filter-container .filter-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-container .filter-header-title {
  padding: 10px;
}

.filter-container .filter-header button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  aspect-ratio: 1 / 1;
  min-width: 42px;
  background: transparent;
  border: none;
  border-left: 1px solid #e5e5e5;
}

.filter-container .filter-header button svg {
  width: 20px;
}

.filter-container .filter-header.open {
  border-bottom: 1px solid #e5e5e5;
}

.filter-container .filter-body {
  max-height: 0;
  overflow: hidden;
  background: #f7f7f7;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
  visibility: hidden;
}

.filter-container .filter-body.open {
  visibility: visible;
  overflow: auto;
  max-height: 70vh;
}

.filter-container .filter-body .filter-container {
  border: none;
}

.filter-container .filter-body .filter-container:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
}

.main-sidenav {
  background: rgba(0, 0, 0, 0.685);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-width: 400px;
  z-index: 100;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  color: white;
  gap: 20px;
}

.main-sidenav.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
/*# sourceMappingURL=styles.css.map */